/*カラー*/
h2.h2-1{color: #00a960;}
h2.h2-2{color: #26499d;}
h2.h2-3{color: #00bfff;}
h2.h2-4{color: #ea5532;}
h2.h2-5{color: #009944;}
h2.h2-6{color: #0099cc;}
h2.h2-7{color: #f39800;}
h3.h3-1{color: #ff9933;}
h3.h3-2{color: #ff9933;}
b.b1{color: #ff0000;}
b.b2{color: #00984f;}
p.color{color: #ffffff;}

/*フッターのカラー*/
footer{background-color: #008000;}
footer{color: #ffffff;}

/*表の編集*/
th.table1{border: solid thick black;}
td.table1{border: solid thick black;}

/*文字を中央揃え*/
body{text-align: center;}

/*文字を右揃え*/
p.migi{text-align: right;}
