//カラー
h2.h2-1{color: #008000;}
h2.h2-2{color: #26499d;}


body {
    padding: 20px;
    text-align: center; /*中央揃えにする*/
}

table.tyuou1{
    table-align: center;
}

table.waku{
    border: solid thick black;
}
